body{
    background:black;
}
nav{
    display:block;
    background: white;
    height: 70px;
}

li{
    list-style-type: none;
    display: inline-block;
    width:80px;
    height:10px;
    cursor: pointer;
}


