h1{
    color:red;
}

li{
    color:lightcoral;
}
.niveau-1{
    color:red;
}
.niveau-2{
    color:yellow;
}
.niveau-3{
    color:green;
}
.campagne{
    position:absolute;
    height: 300px;
    width: 400;
    margin-top:400px;
}
.campagne2{
    position:absolute;
    height:350px;
    width: 450;
    margin-left:600px;
    margin-top:400px;
}
