body{
    /*background: #333;*/
    margin: 0;
    height: 100vh; /*Correspond à 100 pourcents de la taille de fenêtre de notre navigateur(hauteur).*/
}

.box{
    width: 300px;
    height: 20vh;/*Correspond à 20 pourcents de la taille de notre page(hauteur).(viewport height)*/
    /*Et pour la largeur il est possible de faire vw (largeur) (viewport width) qui fera pareil, 
    mais cette fois-ci pour la largeur. */
    background: red;
}
/*.box:active{
    background: green;/*Change la couleur en vert au clique de la souris*/
/*}*/
/*.box:hover{
    background: purple;*//*change notre div en couleur violet au survole de la souris*/
/*}*/
/* input:focus{
    background: yellow;
} */

/* input:checked{
    width:250px;
    height: 250px;
} */
/* a:visited{
    color:green;
} */
li:last-child{
    background: salmon;/*pour mettre notre dernier élément de notre liste en couleur saumon*/
}
li:nth-child(2){
    background:lightcyan;/*Pour mettre en cyan le deuxième élément de li en cyan*/
}

